<!DOCTYPE html>
<html>
<head>
	<title>Freiburg E-Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/app.min.css">
</head>
<body>

	<div class="container" id="app">
    <div>
<!--       <h1>Mein Portfolio</h1> -->
    </div>
    <div id="portfolio-container">
      <svg id="portfolio-svg"></svg>
    </div>
  </div>


	<script src="{{ .Site.BaseURL }}/js/vendor/d3.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script> -->
	<script src="{{ .Site.BaseURL }}/js/app.min.js"></script>
</body>
</html>
